.products-category-title {
    font-size: 38px;
    margin-bottom: 35px;
    text-align: center;
}

.products-category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 80px;
}