.checkout-item-container {
    width: 100%;
    display: flex;
    min-height: 100px;
    border-bottom: 1px solid darkgrey;
    padding: 15px 15px 15px 0;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
  
    .image-container {
        width: 23%;
  
      img {
        width: 100%;
        height: 100%;
        padding: 10px 10px 10px 0;
      }
    }
    .name {
        width: 23%;
        padding-right: 15px;
    }

    .quantity,
    .price {
        width: 23%;
        padding-left: 10px;
    }
  
    .quantity {
        display: flex;
  
      .arrow {
          cursor: pointer;
      }
  
      .value {
          margin: 0 10px;
      }
    }
  
    .remove-button {
        cursor: pointer;
    }
  }
  
 